:root {
    --main-bg: #1E1E1E;
    --nav-bg: #343434;
    --dft-color: #F5F5F5;
    --dft-contrast: #D6D6D6;
    --color-1: #5B5F97;
    --color-2: #A8AAC6;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    overflow-x: hidden;
    margin: 0;
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--nav-bg);
    border-bottom: 1px solid var(--dft-contrast);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

header button {
    background-color: transparent;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

header button img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

#logo {
    background-color: transparent;
    width: 10rem;
    height: 2.4rem;
    margin-left: 2.6rem;
}

header button i::before {
    font-size: 1.6rem;
    color: var(--dft-color);
}

header div button {
    margin-left: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-top: 1px solid var(--dft-contrast);
}

footer button {
    background-color: transparent;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

footer button i::before {
    font-size: 1.4rem;
    color: var(--dft-color);
    transition: all 0.5s ease;
}

.activeBtn i::before {
    color: var(--color-1);
}

/* SECTION'S */
section {
    display: none;
    color: var(--ColorWhite);
    margin-top: 60px;
    padding: 20px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

section.active {
    display: block;
}

/* PAGE 1 */
#phraseDay {
  font-style: italic;
  color: var(--dft-color);
  border-left: 4px solid var(--color-1);
  padding-left: 1em;
  margin: 1em 0;
  padding: 1em;
}

#phraseDay div {
  margin-top: 0.5em;
  font-weight: bold;
  text-align: right;
  color: var(--dft-contrast);
}

#readNow {
    padding: 0 1rem;
}

#readNow div img{
    width: 4rem;
    height: 6rem;
}

#readNow div{
    display: flex;
    flex-direction: row;
}

#readNow div .description {
    display: flex;
    flex-direction: column;
    color: var(--dft-color);
    margin-left: 0.6rem;
}

.description h4 {
    margin-top: 0.2rem;
}

.description h5 {
    margin-top: 0.3rem;
}

.description a{
    color: var(--color-1);
    text-decoration: none;
}

.description a:hover {
    color: var(--color-2);
    text-decoration: underline;
}

.nothing {
    display: none;
}
